.footer {
  padding-right: 4rem;
  padding-left: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-content: center;
  justify-content: center;
  color: white;
  background: #001529;
}

.textvals {
  color: white;
}

.headerfooter {
  color: white;
}
